<%- if user_signed_in? -%>
  <% content_for :body_class, "signed-in" %>
  <input type="hidden" value="<%= @user.latitude %>" id="latitude" style="display: none">
  <input type="hidden" value="<%= @user.longitude %>" id="longitude" style="display: none">

  <h1 class="appear delay-1">Events in Your Area!</h1>
  <div class="appear delay-2">
    <ul>
      <% @events.each do |event| %>
        <li><%= link_to event.title, event_path(event) %></li>
      <% end %>
    </ul>
  </div>
<%- else -%>
  <% content_for :body_class, "signed-out" %>
  <h1 class="appear delay-1">Events in Your Area!</h1>
  <div class="appear delay-2">
    <p>Sign in to see event details.</p><br/>
    <ul>
      <% @events.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </ul>
<% end %>
