<h1> About </h1>
<div class="event-details">
  <p>
    WeatherBloc is an impromptu meet-up site for neighbors stuck at home during bad weather.
  </p>
  <p>
    The idea for WeatherBloc started after wondering how far I might be willing to walk in a a downpour for entertainment. Three blocks for a movie night? One and a half blocks for a free donut? The caviats of this scenario are I became very engaged in the caveats of this scenario, realized there aren’t any apps for this problem, and decided to make it myself.
  </p>
  <p>
    WeatherBloc was initially created as a breakable toy for my final project at Launch Academy. It is a work in progress and will continue to be improved.
  </p>
</div><br/>
<%= link_to 'Back', root_path %>

