<div class="about-show">
  <h1>About</h1>
  <div class="about-details">
  <!--   <div class="about-info section-label">
      About the Developer
    </div> -->
    <div class="about-info">
      My name is Helen and I created WeatherBloc. WeatherBloc began as a final project for <a href="http://www.launchacademy.com/">Launch Academy</a>, a Ruby on Rails bootcamp based in Boston. It will expand as I grow as a developer.
    </div>
    <div class="about-info section-label">
      About WeatherBloc
    </div>
    <div class="about-info">
      <p>
        WeatherBloc is an impromptu meet-up site for neighbors stuck at home during bad weather.
      </p>
      <p>
        The idea for WeatherBloc started after wondering how far I might be willing to walk in a downpour for entertainment. Three blocks for a movie night? One and a half blocks for a free donut? I found the The caviats of this scenario are I became very engaged in the caveats of this scenario, realized there aren’t any apps for this problem, and decided to make it myself.
      </p>
      <p>
        WeatherBloc was initially created as a breakable toy for my final project at Launch Academy. It is a work in progress and will continue to be improved.
      </p>
  </div><br/>
  <div class="about-details">
    <%= link_to 'Back', root_path %>
  </div>
</div>
