<h1> About </h1>
<div>
  <p>
    The idea for WeatherBloc started after wondering how far I’d be willing to walk in a downpour for entertainment. Three blocks for a movie night? One and a half blocks for a free donut?<br/><br/>

    I became very engaged in the caveats of this scenario, realized there aren’t any apps for this problem, and decided to make it myself.
  </p><br/><br/>

  <%= link_to 'Back', root_path %>
</div><br/>

