html, body {
height: 100%;
padding: 0;
margin: 0;
}

body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 14px;
  background-color: #4fc3f7;
}

#main-container {
  margin-top: 51px;
  position: relative;
  z-index: 1000;
  text-align: center;
  height: 100%;
}

#main-container h2 {
  padding-bottom: 15px;
}

/*=====Welcome page=====*/

.welcome-page {
  position: absolute;
  height: 175px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

.welcome-page h1 {
  padding-bottom: 15px;
}

.welcome-form {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.welcome-form-field {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
}

.welcome-form-button {
  border-radius: 0px;
  width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  background: #3f51b5;
  color: #fff;
  display: block;
  margin-top: 15px;
}

.welcome-form-button:hover {
  background: #5c6bc0;
  color: #fff;
}

.welcome-form-button:active {
  background: #3949ab;
  color: #fff;
  outline: none;
}

#signed-in {
  padding-top: 51px;
  text-align: left;
}

.weather-sucks {

}

.weather-rocks {

}

.title, .button {
  z-index: 3;
  position: relative;
  display: block;
}

.search-form {
  z-index: 3;
  position: relative;
  display: block;
}

.curtain-down {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 500ms ease;
  transition: transform 500ms ease;
}

.curtain-up {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
}

.open .curtain-down, .open .curtain-up {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.weather-sucks .curtain-down {
  color: #eceff1;
  background-color: #90a4ae;
}

.weather-rocks .curtain-up {
  background-color: #fff176;
}

/*.form-horizontal .control-label {
  width: 75%;
  float: left;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
}*/

body:not(.loaded) .appear {
  opacity: 0;
}

.loaded .appear {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.loaded .appear.delay-1 {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.loaded .appear.delay-2 {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin: 0;
  }
}

.form-inputs {
  position: relative;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.form-inputs label {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  padding-right: 15px;
  text-align: right;
}

/*Below needs refactoring*/

.form-inputs div:not(.form-group) {
  width: 50%;
  display: inline-block;
  padding-left: 0;
}

.form-inputs div:not(.form-group) input,
.form-inputs div:not(.form-group) textarea {
  width: 100%;
}

.form-inputs .user_remember_me input[type='checkbox'] {
  margin: 0;
  left: 0;
}

.form-horizontal .radio, .form-horizontal .checkbox {
  text-align: left;
}

.form-horizontal .form-group.event_categories div.col-sm-9 {
  padding-left: 15px;
}

.event-details {
  text-align: left;
}

/*=====About page=====*/

.about-details {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 30px;
}

.about-info {
  padding-bottom: 15px;
}

.section-label {
  font-weight: bold;
}

/*=====Users show page=====*/

.users-details {
  margin-top: 15px;
}

.users-group {
  margin-bottom: 30px;
}

.users-info {
  padding-bottom: 15px;
}

/*=====Events index page=====*/

.events-list {
  margin-top: 15px;
  margin-bottom: 30px;
}

/*=====Events show page=====*/

.event-details {
  margin-top: 15px;
  margin-bottom: 30px;
}

.event-create {
  text-align: center;
}

.event-info {
  margin-top: 15px;
  margin-bottom: 30px;
}

